---
openapi: 3.0.3
servers:
  - url: http://customer-app-customer-app.apps.cluster2.sandbox1482.opentlc.com
info:
  title: customer-app API
  version: 1.0.0-SNAPSHOT
paths:
  /entity/customers:
    get:
      tags:
      - Customer Entity Resource
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomerEntity"
    post:
      tags:
      - Customer Entity Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerEntity"
      responses:
        "200":
          description: OK
  /entity/customers/{id}:
    get:
      tags:
      - Customer Entity Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerEntity"
    put:
      tags:
      - Customer Entity Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerEntity"
    delete:
      tags:
      - Customer Entity Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          description: OK
  /repository/customers:
    get:
      tags:
      - Customer Repository Resource
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Customer"
    post:
      tags:
      - Customer Repository Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: OK
  /repository/customers/{id}:
    get:
      tags:
      - Customer Repository Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
    put:
      tags:
      - Customer Repository Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
    delete:
      tags:
      - Customer Repository Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          description: OK
components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        address:
          type: string
    CustomerEntity:
      type: object
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        address:
          type: string
